---
client:
  hosts: $ELASTICSEARCH_HOSTS
  port: $ELASTICSEARCH_PORT
  url_prefix: $URL_PREFIX
  use_ssl: $USE_SSL
  certificate: $CERTIFICATE
  client_cert: $CLIENT_CERT
  client_key: $CLIENT_KEY
  ssl_no_validate: $SSL_NO_VALIDATE
  http_auth: $ELASTICSEARCH_HTTP_AUTH
  timeout: $TIMEOUT
  master_only: $MASTER_ONLY

logging:
  loglevel: $LOG_LEVEL
  logfile: $LOG_FILE
  logformat: $LOG_FORMAT
  blacklist: $BLACK_LIST
