actions:
  1:
    action: snapshot
    options:
      repository: $SNAPSHOT_REPOSITORY
      wait_for_completion: True
    filters:
    - filtertype: age
      source: name
      direction: older
      unit: days
      unit_count: $SNAPSHOT_OLDER_THAN_IN_DAYS
      timestring: '%Y.%m.%d'
    - filtertype: pattern
      kind: regex
      value: '$SNAPSHOT_INDEX_PATTERN'
